<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Criar Conta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="topbar">
    <h1 class="project-title">CaloriFit</h1>
</div>

<div class="container">
    <h2>Criar Conta</h2>

    <form action="/salvar_conta" method="POST">

        <label>Nome:</label>
        <input type="text" name="nome" required>

        <label>Email:</label>
        <input type="email" name="email" required>

        <label>Senha:</label>
        <input type="password" name="senha" required>

        <button type="submit">Cadastrar</button>
    </form>

    <br>
    <a href="/">Voltar ao Login</a>
</div>

</body>
</html>

