<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Exercícios</title>
</head>
<body>

<div class="container">
    <h2>Exercícios</h2>

    <form action="/add_exercicio" method="POST">
        <input type="text" name="nome" placeholder="Nome exercício" required>
        <input type="number" name="calorias" placeholder="Calorias gastas" required>
        <button type="submit">Adicionar</button>
    </form>

    <ul>
        {% for e in exercicios %}
            <li>{{ e[1] }} - {{ e[2] }} kcal</li>
        {% endfor %}
    </ul>

    <a href="/home">Voltar</a>
</div>

</body>
</html>
