<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}>
    <title> Metas </title>
</head>
<body>

<div class="container">
    <h2>Meta Diária de Calorias</h2>

    <form action="/salvar_meta" method="POST">
        <input type="number" name="meta" placeholder="Ex: 1800" required>
        <button type="submit">Salvar Meta</button>
    </form>

    {% if meta %}
        <p>Meta atual: <strong>{{ meta[1] }} kcal</strong></p>
    {% endif %}

    <a href="/home">Voltar</a>
</div>

</body>
</html>
