<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Nova Senha</title>
</head>
<body>
<div class="container">
    <h2>Definir Nova Senha</h2>

    <form action="/salvar_nova_senha" method="POST">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="token" value="{{ token }}">

        <input type="password" name="senha" placeholder="Nova senha" required>
        <button type="submit">Salvar nova senha</button>
    </form>

    <a href="/">Voltar</a>
</div>
</body>
</html>
