<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Cadastro</title>
</head>
<body>
<div class="container">
    <h2>Cadastro</h2>
    <form action="/registrar" method="POST">

        <input type="text" name="nome" placeholder="Nome completo" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="password" name="senha" placeholder="Senha" required>

        <input type="number" name="idade" placeholder="Idade">
        <input type="number" name="peso" placeholder="Peso (kg)">
        <input type="number" name="altura" placeholder="Altura (cm)">

        <select name="biotipo">
            <option value="ectomorfo">Ectomorfo</option>
            <option value="mesomorfo">Mesomorfo</option>
            <option value="endomorfo">Endomorfo</option>
        </select>

        <button type="submit">Registrar</button>
    </form>
</div>
</body>
</html>
